# See: http://kent-boogaart.com/blog/editorconfig-reference-for-c-developers for all options and
# reference

# This file is the top-most EditorConfig file
root = true

# All Files
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = tab
indent_size = 4
csharp_new_line_before_open_brace = types,methods
csharp_indent_block_contents = true
csharp_indent_switch_labels = true
csharp_indent_case_contents = true
csharp_space_before_open_square_brackets = false
csharp_space_between_method_declaration_name_and_open_parenthesis = true
csharp_space_between_method_call_name_and_opening_parenthesis = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_after_comma = true
csharp_space_around_declaration_statements = do_not_ignore
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_prefer_braces = true
csharp_style_namespace_declarations = file_scoped:warning

[*.xaml]
indent_style = space
indent_size = 4

# Xml project files
[*.{sln,csproj,shproj,projitems,vcxproj,vcxproj.filters,proj,nativeproj,locproj}]
indent_style = space
indent_size = 2
