# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  - master

pool:
  vmImage: "ubuntu-latest"

variables:
  projects: "**/*.csproj"
  buildPlatform: "Any CPU"
  buildConfiguration: "Release"

steps:
  - task: SonarCloudPrepare@4
    inputs:
      SonarCloud: "sonarcloud"
      organization: "vmartos"
      scannerMode: "dotnet"
      projectKey: "vicmaeg_onvif-discovery"
      projectVersion:
      extraProperties: |
        sonar.exclusions=**/bin/**/*,**/obj/**/*,OnvifDiscovery/Client/OnvifUdpClient.cs
        sonar.language=cs
        sonar.cs.vscoveragexml.reportsPaths=$(Agent.TempDirectory)/coverage.xml

  - task: UseDotNet@2
    displayName: 'Install .NET Core SDK'
    inputs:
      version: '10.0.x'

  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: "$(projects)"

  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
      projects: "**/*.csproj"
      arguments: "--configuration $(buildConfiguration)"

  - task: DotNetCoreCLI@2
    displayName: Test
    inputs:
      command: custom
      custom: test
      arguments: '--configuration $(buildConfiguration) --results-directory $(Agent.TempDirectory) --coverage --coverage-output-format xml --coverage-output coverage.xml --report-xunit-trx --report-xunit-trx-filename test-results.trx'

  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'VSTest'
      testResultsFiles: '$(Agent.TempDirectory)/*.trx'
      mergeTestResults: true

  - task: SonarCloudAnalyze@4

  - task: SonarCloudPublish@4
    inputs:
      pollingTimeoutSec: "300"